<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/styles-register.css">
    <link rel="stylesheet" href="css/colors.css">
    <link rel="stylesheet" href="css/mediaQueryStyle.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"
        rel="stylesheet" />
    <title>Register</title>
</head>

<body>

    <header>

        <div class="logo-container">
            <div class="logo-bar-container">
                <div class="logo">
                    <a href="/"></a><img src="/images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre">
                </div>
                <div class="search-button-container">
                    <div class="search-container">
                        <input type="text" placeholder="buscar productos, marcas y mas">
                        <button><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <h2 class="card-title"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
            <nav class="menu-container">
                <ul>
                    <li><a href="#"></a>Ofertas</li>
                    <li><a href="#"></a>Tiendas oficiales</li>
                    <li><a href="#"></a>Vender</li>
                    <li><a href="#"></a>Ayudar</li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-container">
                <div class="burger-menu">
                    <i class="fa fa-bars burger"></i>
                </div>
            </div>
    </header>
    <main>
        <div class="register-container">
            <form action="/register" method="POST" class="create-register">
                <div class="control-register">
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" id="nombre" class="control">
                </div>
                <div class="control-register">
                    <label for="apellido">Apellido:</label>
                    <input type="text" name="apellido" id="apellido" class="control">


                </div>
                <div class="control-register">
                    <label for="email">Email de usuario:</label>
                    <input type="email" name="email" id="email" class="control">
                </div>
                <div class="control-register">
                    <label>Fecha de cumpleaños</label>
                    <input type="date" name="fecha" class="control">
                </div>
                <div class="control-register">
                    <label for="domicio">Domicilio:</label>
                    <input type="text" name="domicilio" id="domicilio" class="control">
                </div>
                <div class="control-register">
                    <h3 class="options">¡Que quieres hacer como usuario?</h3>
                    <label for="vender">Vender</label>
                    <input type="radio" name="perfil de usuario" value="vender" class="control">
                    <label for="comprar">Comprar</label>
                    <input type="radio" name="perfil de usuario" value="comprar" class="control">
                </div>
                <div class="control-register">
                    <label for="categorias">Categorias de interes!</label>
                    <select name="Categorias" class="control">
                        <option value="">Electrodomesticos</option>
                        <option value="">Moda</option>
                        <option value="">Hogar</option>
                        <option value="">Jugueteria</option>
                        <option value="">Vida Sana</option>
                    </select>
                </div>
                <div class="control-register">
                    <label>Seleccion una foto de usuario:</label>
                    <input type="file" name="avatar" accept=".jpg" multiple class="control">
                </div>
                <div class="control-register">

                    <label for="password">Ingresa tu contraseña</label>
                    <input type="password" name="clave" class="control">
                </div>
                <div class="control-register">
                    <label for="password">Valida tu contraseña</label>
                    <input type="password" name="clave" class="control">
                </div>
                <div class="control-register">
                   <button type="submit" class="button-register"><a href="/"></a>Enviar</button> 
                    <button type="reset" class="button-register">Borrar</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div>
            <i class="fa-solid fa-credit-card"></i>
            <h2>Paga con tarjeta o en efectivo</h2>
            <p>Con mercado liebreCash tendras cuotas sin interes con tarjeta o efectivos de punto de pago. !siempre
                es
                seguro¡</p>
        </div>
        <div>
            <i class="fa-sharp fa-solid fa-gift"></i>
            <h2>Envio gratis desde los 2500</h2>
            <p>Solo por estar registrado en Mercado Liebre tienes envios gratis en miles de productos. Es un
                beneficio
                en mercado puntos.</p>
        </div>
        <div>
            <i class="fa-solid fa-user-shield"></i>
            <h2>Seguridad de principio a fin</h2>
            <p>¿No te gusta? !Devuelvelo¡ En mercado Liebre no hay nada que no puedas hacer porque estas siempre
                protegid@.</p>
        </div>
        <div>
            <h3>Copyrigth 1999-2020 Mercado Liebre S.R.L</h3>
        </div>
    </footer>
</body>

</html>