<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"
        rel="stylesheet" />
    <title>Document</title>
</head>

<body>

    <header>
        <header>
            <div class="one-header">
                <div class="logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">buscar productos, marcas y mas</div>
                    <div class="submit"><i class="fa-solid fa-magnifying-glass"></i></div>
                </div>

        </header>


        <main>
            <section class="register">
                <form action="/" method="POST">
                    <div>
                        <label for="nombre">Nombre:</label>
                        <input type="text" name="nombre" id="nombre">
                    </div>
                    <div>
                        <label for="apellido">Apellido:</label>
                        <input type="text" name="Apellido" id="apellido">
                    </div>
                    <div>
                        <label for="email">Email de usuario:</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div>
                        <label>Fecha de cumpleaños</label>
                        <input type="date" name="fecha">
                    </div>
                    <div>
                        <label for="domicio">Domicilio:</label>
                        <input type="text" name="domicilio" id="domicilio">
                    </div>
                    <div>
                        <label>¡Que quieres hacer como usuario?</label>
                        <input type="radio" name="perfil de usuario" value="vender">
                        <input type="radio" name="perfil de usuario" value="comprar">
                    </div>
                    <div>
                        <label for="categorias">Categorias de interes!</label>
                        <input type="checkbox" name="categorias" value= "Electro">
                        <input type="checkbox" name="categorias" value= "Moda">
                        <input type="checkbox" name="categorias" value= "Hogar">
                        <input type="checkbox" name="categorias" value= "Jugueteria">
                        <input type="checkbox" name="categorias" value= "Vida Sana">
                    </div>
                    <div>
                        <label>Seleccion una foto de usuario:</label>
                        <input type="file" name="avatar" accept=".jpg" multiple>
                    </div>
                    <div>

                        <label for="password">Ingresa tu contraseña</label>
                        <input type="password" name="clave">
                    </div>
                    <div>
                        <label for="password">Valida tu contraseña</label>
                        <input type="password" name="clave">
                    </div>
                    <div>
                        <button type="submit">Enviar</button>
                        <button type="reset">Borrar</button>
                    </div>
                </form>
            </section>

        </main>
        <footer>
            <div>
                <i class="fa-solid fa-credit-card"></i>
                <h2>Paga con tarjeta o en efectivo</h2>
                <p>Con mercado liebreCash tendras cuotas sin interes con tarjeta o efectivos de punto de pago. !siempre
                    es
                    seguro¡</p>
            </div>
            <div>
                <i class="fa-sharp fa-solid fa-gift"></i>
                <h2>Envio gratis desde los 2500</h2>
                <p>Solo por estar registrado en Mercado Liebre tienes envios gratis en miles de productos. Es un
                    beneficio
                    en mercado puntos.</p>
            </div>
            <div>
                <i class="fa-solid fa-user-shield"></i>
                <h2>Seguridad de principio a fin</h2>
                <p>¿No te gusta? !Devuelvelo¡ En mercado Liebre no hay nada que no puedas hacer porque estas siempre
                    protegid@.</p>
            </div>
            <div>
                <h3>Copyrigth 1999-2020 Mercado Liebre S.R.L</h3>
            </div>
        </footer>
</body>

</html>