* {
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-color: var(--grisClaro);

}

a {
    text-decoration: none;
    color: var(--negro);
}
ul {
    list-style: none;
    padding: 0px;
    font-family: "Roboto";
}
img {
    width: 100%;

}
html {
  font-family: 'Roboto', sans-serif;
}
/* *** HEADER *** */
header {
    
    background-color: var(--amarillo);
    display: flex;
    flex-direction: column;
}
.logo-container {
    
    display: flex;
    flex-direction: column;
}
.menu-container {
    
    display: none;
}
.burger-container {
    
    display:flex;
    justify-content: center;
}
.logo-bar-container {
    
    display: flex;
}
.card-container {
    
    padding: 15px;

}
.logo {
    
    width: 50%;
    padding: 10px;
}
.search-button-container {
    
    display:flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 90%;
    padding-top: 30px;
}

.card-title {
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto';

}
.card-title i {
    margin-right: 10px;
}
input {
    width: 95%;
    border: none;
    background-color: white;
    border-radius: 5px 0 0 5px;
}
button {
    width:15%;
    padding: 1px;
    border: none;
    background-color: white;
    border-radius: 0 5px 5px 0;
}
.burger-menu {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
    color: var(--blanco);
    background-color: var(--azul);

}

.search-container {
    display: flex;
    
}
/* *** FIN HEADER ***/

.banner img {
    width: 100%;
}
main h2{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center; 
    font-family: "Roboto";
}

.last-visit, .offers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-visit .products {
    width: 95%;
}

.products article {
    background: var(--blanco);
    padding: 10px 0;
}

.products article i {
    color: #39b54a;
    background: var(--blanco);
    border: 1px solid var(--verde);
    border-radius: 50%;
    padding:8px;
    position: absolute;
    top: -15px;
    right: 20px;
}

.main-article {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 10px;
    border-top: 1px solid var(--grisClaro);
}

.price {
    font-size: 18px;
       width: 30%;
}

.discount {
    color: green;
    width: 70%;
}

.discount, .description {
    font-size: 16px;
    font-weight: normal;
}
h3, .description {
    color: var(--grisOscuro);
    display: none;

}

article {
    margin-bottom: 15px;
}

.offers .products {
    width: 95%;
}

main section div.products article i {
    transition: transform;
}

main section div.products article:hover i {
    transform: rotate(-90deg);

}


footer div h2 {
    
    color: #666;
}
footer  {
    
    background-color: white;
    text-align: center;
    margin-bottom: 10px;
    color: #666;
    font-family: "Roboto";
}
.credit {

    display: block;
    margin-bottom: 10px;
    text-align: center;
    padding: 15px;
}

.send {
    
    display: block;
    margin-bottom: 10px;
    padding: 15px;
}
.security {
    
    display: block;
    margin-bottom: 10px;
    justify-content: center;
    padding: 15px;
}

footer div i {
    
    display: flex;
    color: #1259C3;
    width: 2em;

}
footer div p {
    
    font-size: 12px;
    font-weight: 300;

}
.copyrigth {
    
    font-size: 10px;
}



