* {
    margin: 0px;
    box-sizing: border-box;
}

section .register {
    display: block;
    text-align: center;
    background: var(--grisClaro);
    font-family: "Roboto";

}
button {
    background-color: #eaeaea;
    color: #000;
}

button:hover {
    background-color: #1a73e8;
    color: #fff;
}

